# Byte-compiled / optimized / DLL files
.idea/
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg/

# .npy files
tutorials/ftrajs.npy
tutorials/oasis_trajs.npy
tutorials/bootstrap_TPM.npy

# igme, gmsm files
tutorials/igme.py
tutorials/qmsm.py
tutorials/VAMPNet_SRVNet.py